{% extends "layout.html" %}

{% block icon %}
<link href="/static/main-icon.ico" rel="icon">
{% endblock %}

{% block title %}
About Tic-Tac-Toe
{% endblock %}


{% block about_active %}
active
{% endblock %}


{% block body %}
<br>
<br>
<h1 class="mt-5 ms-5 me-5">About Tic-Tac-Toe:</h1>
<p class="mt-4 ms-5 me-5">
    While most games focus on graphics and animations, Tic-Tac-Toe is inclusive to Persons With Disabilities (PWDs), specifically persons with sensory impairments. Persons
    with sensory impairments commonly use a screen reader as an interface to navigate the web and Tic-Tac-Toe has been created with this in mind. Please do note that this 
    is currently a prototype.
<p>
<h4 class="mt-5 ms-5 me-5">Credits:</h4>
<ul class="mt-2 ms-5 me-5" style="padding-bottom: 175px;">
    <li class="mt-2"><a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a>: For some of the aesthetics of this site.</li>
    <li class="mt-2"><a href="https://feathericons.com/" target="_blank" rel="noopener noreferrer">Feather Icons</a>: For the use of their icons used throught this site.</li>
</ul>
{% endblock %}
